.hero {
  width: 100%;
  background-color: var(--mainBgWeb);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 128px 80px;
  box-sizing: border-box;
  gap: 60px;
  .buildingStellar {
    width: 55%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    .groupHeroText {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: start;
      gap: 24px;
      .titleHero {
        font-family: Poppins;
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
        color: #ffffff;
      }
      .descriptionHero {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #ffffff;
        opacity: 70%;
      }
    }
    .btnHero {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      align-items: center;
      gap: 40px;
      a.viewHero {
        text-decoration: none;
        text-transform: capitalize;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        color: #1b1c2b;
        .viewHero {
          padding: 16px 56px;
          box-sizing: border-box;
          border-radius: 41px;
          background-color: #fcd980;
        }
      }
      a.pricingHero {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        color: #ffffff;
        text-decoration: none;
        text-transform: capitalize;
        div.pricingHero {
          display: flex;
          flex-flow: row nowrap;
          justify-content: start;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
  .illustration {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
